<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SUPER SITIO</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/cards.css">

</head>

<body>

        <!-- START NAV -->
        <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                                <img src="../images/bulma.png" alt="Logo">
                            </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </div>
                    {% comment %} <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active">
                                    Home
                                </a>
                            
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                        Account
                                    </a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item">
                                            Dashboard
                                        </a>
                                    <a class="navbar-item">
                                            Profile
                                        </a>
                                    <a class="navbar-item">
                                            Settings
                                        </a>
                                    <hr class="navbar-divider">
                                    <div class="navbar-item">
                                        Logout
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </nav>
            <!-- END NAV -->

    <div class="container">
        <div id="flow">
            <span class="flow-1"></span>
            <span class="flow-2"></span>
            <span class="flow-3"></span>
        </div>
        <div class="section">
            <div class="box">
                <div class="field has-addons">
                <form method="get" action="/buscar/" onsubmit="return false;" class="control is-expanded">
                    <div class="control is-expanded">
                        <input class="input has-text-centered" name="q" type="search" placeholder="» » » » » » buscar « « « « « «">
                    </div>
                    <div class="control">
                         <input type="submit" class="button is-info" onclick="window.location.href=this.form.action + this.form.q.value;" value="Buscar">
                    </div>
                </form>
                </div>
            </div>
            <!-- Developers -->
            <div class="row columns">
            {% for articulo in lista %}
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="/media/{{articulo.imagen}}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding"> {{ articulo.nombre }}</p>
                                    <p><span class="title is-6">Precio: {{articulo.precio }} </span></p>
                                </div>
                            </div>
                            <div class="content">
                                {{articulo.descripcion}}
                                <div class="background-icon"><span class="icon-twitter"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
            <!-- End Developers -->

            
        </div>
    </div>

    <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <div class="soc">
                        <a href="#"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    </div>
                    <p>
                        <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
                        The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
                    </p>
                </div>
            </div>
        </footer>

            <script src="../js/bulma.js"></script>


</body>

</html>
